<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> testing </p>
    <input type="text" id="id"/>
    <input type="text" id="pwd"/>
    <div style="background-color: blue; 
    width : 50px; height:30px;" id="login"> button </div>
    <script>
        document.getElementById('login').addEventListener('click', () => {
            console.log("testing");
            console.log(document.getElementById('id').value);
            console.log(document.getElementById('pwd').value);
            fetch("http://localhost:5000/login", {
                method : "POST",
                body : {
                    
                    'id':"2209171926",
                    'pwd':"sungmin123"
                }
                
            })
        })
    </script>
</body>
</html>